
.full-section-height {
	height: 100vh;
}

/*Fonts*/
.cursive-font {
	font-family: 'Liu Jian Mao Cao', cursive;
}

.second-font {
	font-family: 'Hind', sans-serif;
}


/*Colors*/
/*Transparent grey background color*/
.grey-background-7 {
	background-color: rgba(0,0,0,0.6);
}

/*Transparent grey background color */
.grey-background-9 {
	background-color: rgba(0,0,0,0.9);
}



.top-image {
	/* animation to change the bg image */
	animation: imageAnimation 8s linear infinite 0s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Animation to change background of opening section*/
@keyframes imageAnimation {
	0% {
		background-image: url("../images/stool-2-sm.jpg");
	}
	40% {
		background-image: url("../images/stool-2-sm.jpg");
	}
	50% {
		background-image: url("../images/table-sm.jpg");
	}
	90% {
		background-image: url("../images/table-sm.jpg");
	}
	100% {
		background-image: url("../images/stool-2-sm.jpg");
	}
}

.vertical-image-size {
	max-width: 200px;
}
